<?xml version="1.0"?>
<!--
/**
 * @author Improntus Dev Team
 * @copyright Copyright (c) 2022 Improntus (http://www.improntus.com/)
 * @package Improntus_Rebill
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Improntus_Rebill::main" title="Rebill" translate="title" sortOrder="40">
                        <resource id="Improntus_Rebill::rebill" title="Rebill" translate="title" sortOrder="0">
                        </resource>
                        <resource id="Improntus_Rebill::subscriptions" title="Subscriptions" translate="title" sortOrder="10">
                        </resource>
                        <resource id="Improntus_Rebill::payments" title="Payments" translate="title" sortOrder="20">
                        </resource>
                        <resource id="Improntus_Rebill::queue" title="Queue" translate="title" sortOrder="30">
                        </resource>
                    </resource>
            </resource>
        </resources>
    </acl>
</config>
