<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <improntus_rebill>
                <title>Pay with Rebill</title>
                <model>Improntus\Rebill\Model\Rebill\Payment</model>
                <active>0</active>
                <sort_order>0</sort_order>
            </improntus_rebill>
        </payment>
    </default>
</config>
