<?xml version="1.0"?>
<!--
/**
 * @author Improntus Dev Team
 * @copyright Copyright (c) 2022 Improntus (http://www.improntus.com/)
 * @package Improntus_Rebill
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <improntus_rebill>
                <model>Improntus\Rebill\Model\Payment\Rebill</model>
                <active>0</active>
                <title>Pay with Rebill</title>
                <payment_action>initialize</payment_action>
                <sort_order>0</sort_order>
                <allowspecific>0</allowspecific>
                <can_initialize>1</can_initialize>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <is_offline>1</is_offline>
                <is_gateway>0</is_gateway>
                <can_order>0</can_order>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_capture_once>0</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_void>0</can_void>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <general>
                    <customer_document_type>DNI</customer_document_type>
                    <customer_document_attribute>vat_id</customer_document_attribute>
                    <approved_status>processing</approved_status>
                    <denied_status>cancelled</denied_status>
                    <allow_mixed_cart>0</allow_mixed_cart>
                    <enqueue_message>1</enqueue_message>
                    <subscription_product_text>Subscribe</subscription_product_text>
                    <guest_customer_text>Log in to subscribe to this product</guest_customer_text>
                    <product_label>none</product_label>
                    <product_label_text>Subscription</product_label_text>
                </general>
                <api_options>
                    <integration_mode>sandbox</integration_mode>
                    <debug_logs>0</debug_logs>
                    <use_api_key>0</use_api_key>
                </api_options>
            </improntus_rebill>
        </payment>
    </default>
</config>
