<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Improntus\Rebill\Model\Rebill\ConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="improntus_rebill" xsi:type="const">Improntus\Rebill\Model\Rebill\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="improntus_rebill_config_provider" xsi:type="object">Improntus\Rebill\Model\Rebill\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
