<?xml version="1.0"?>
<!--
/**
 * @author Improntus Dev Team
 * @copyright Copyright (c) 2022 Improntus (http://www.improntus.com/)
 * @package Improntus_Rebill
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Improntus\Rebill\Model\Payment\ConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="improntus_rebill" xsi:type="string">improntus_rebill</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="improntus_rebill_config_provider" xsi:type="object">Improntus\Rebill\Model\Payment\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Improntus\Rebill\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Improntus\Rebill\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">rebillLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Improntus\Rebill\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rebill_payment_grid_data_source" xsi:type="string">Improntus\Rebill\Model\Grid\Payment
                </item>
                <item name="rebill_subscription_grid_data_source" xsi:type="string">
                    Improntus\Rebill\Model\Grid\Subscription
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rebill_webhook_queue" xsi:type="object">Improntus\Rebill\Console\WebhookQueue</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="Improntus_Rebill::setSubscriptionId" type="Improntus\Rebill\Plugin\Model\Quote" sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Helper\Address">
        <plugin name="Improntus_Rebill::isVatAttributeVisible" type="Improntus\Rebill\Plugin\Helper\Address"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Helper\Data">
        <plugin name="Improntus_Rebill::checkPaymentMethodsAvailability"
                type="Improntus\Rebill\Plugin\Helper\CheckoutData" sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="Improntus_Rebill::afterIsSalable" type="Improntus\Rebill\Plugin\Catalog\Product" sortOrder="10"/>
    </type>

    <preference for="Improntus\Rebill\Api\Item\DataInterface" type="Improntus\Rebill\Model\Entity\Item\Model"/>
    <preference for="Improntus\Rebill\Api\Price\DataInterface" type="Improntus\Rebill\Model\Entity\Price\Model"/>
    <preference for="Improntus\Rebill\Api\Payment\DataInterface" type="Improntus\Rebill\Model\Entity\Payment\Model"/>
    <preference for="Improntus\Rebill\Api\Queue\DataInterface" type="Improntus\Rebill\Model\Entity\Queue\Model"/>
    <preference for="Improntus\Rebill\Api\Subscription\DataInterface"
                type="Improntus\Rebill\Model\Entity\Subscription\Model"/>
    <preference for="Improntus\Rebill\Api\SubscriptionShipment\DataInterface"
                type="Improntus\Rebill\Model\Entity\SubscriptionShipment\Model"/>

    <preference for="Improntus\Rebill\Api\Item\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\Item\Repository"/>
    <preference for="Improntus\Rebill\Api\Price\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\Price\Repository"/>
    <preference for="Improntus\Rebill\Api\Payment\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\Payment\Repository"/>
    <preference for="Improntus\Rebill\Api\Queue\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\Queue\Repository"/>
    <preference for="Improntus\Rebill\Api\Subscription\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\Subscription\Repository"/>
    <preference for="Improntus\Rebill\Api\SubscriptionShipment\RepositoryInterface"
                type="Improntus\Rebill\Model\Entity\SubscriptionShipment\Repository"/>

    <preference for="Improntus\Rebill\Api\Item\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\Item\SearchResults"/>
    <preference for="Improntus\Rebill\Api\Price\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\Price\SearchResults"/>
    <preference for="Improntus\Rebill\Api\Payment\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\Payment\SearchResults"/>
    <preference for="Improntus\Rebill\Api\Queue\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\Queue\SearchResults"/>
    <preference for="Improntus\Rebill\Api\Subscription\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\Subscription\SearchResults"/>
    <preference for="Improntus\Rebill\Api\SubscriptionShipment\SearchResultInterface"
                type="Improntus\Rebill\Model\Entity\SubscriptionShipment\SearchResults"/>

    <type name="Improntus\Rebill\Model\Webhook">
        <arguments>
            <argument name="webhooks" xsi:type="array">
                <item name="confirmation" xsi:type="string">Improntus\Rebill\Model\Webhook\Confirmation</item>
                <item name="heads_up" xsi:type="string">Improntus\Rebill\Model\Webhook\HeadsUp</item>
                <item name="new_payment" xsi:type="string">Improntus\Rebill\Model\Webhook\Payment</item>
                <item name="subscription_change_status" xsi:type="string">Improntus\Rebill\Model\Webhook\SubscriptionChangeStatus</item>
                <item name="payment_change_status" xsi:type="string">Improntus\Rebill\Model\Webhook\PaymentChangeStatus</item>

            </argument>
        </arguments>
    </type>


    <virtualType name="Improntus\Rebill\Model\Payment\Rebill" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">improntus_rebill</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Improntus\Rebill\Block\Sales\Order\Rebill</argument>
            <argument name="valueHandlerPool" xsi:type="object">Improntus\Rebill\Gateway\Config\ValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">Improntus\Rebill\Gateway\Validator\ValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">Improntus\Rebill\Gateway\Command\CommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Command\CommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="refund" xsi:type="string">Improntus\Rebill\Gateway\Command\Refund</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Validator\ValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">Improntus\Rebill\Gateway\Validator\CountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Validator\CountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Improntus\Rebill\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Config\ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Improntus\Rebill\Gateway\Config\ConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Config\ConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Improntus\Rebill\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="Improntus\Rebill\Gateway\Config\Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">improntus_rebill</argument>
        </arguments>
    </virtualType>
</config>
