<?xml version="1.0"?>
<!--
/**
 * @author Improntus Dev Team
 * @copyright Copyright (c) 2022 Improntus (http://www.improntus.com/)
 * @package Improntus_Rebill
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Improntus_Rebill::main" title="Rebill" module="Improntus_Rebill" sortOrder="40" resource="Improntus_Rebill::main"/>
        <add id="Improntus_Rebill::rebill" title="Rebill" module="Improntus_Rebill" sortOrder="0"
             parent="Improntus_Rebill::main" resource="Improntus_Rebill::rebill"/>
        <add id="Improntus_Rebill::subscriptions" title="Subscriptions" module="Improntus_Rebill" sortOrder="0"
             parent="Improntus_Rebill::rebill" action="rebill/subscription/index" resource="Improntus_Rebill::subscriptions"/>
        <add id="Improntus_Rebill::payments" title="Payments" module="Improntus_Rebill" sortOrder="0"
             parent="Improntus_Rebill::rebill" action="rebill/payment/index" resource="Improntus_Rebill::payments"/>
    </menu>
</config>
